@font-face {
    font-family: "Uncut Sans";
    src: url(./Webfonts/Uncut-Sans-Regular.woff2);
}

@font-face {
    font-family: "Uncut Sans Bold";
    src: url(./Webfonts/Uncut-Sans-Bold.woff2);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    cursor: pointer;
}

html,
body,
#root,
.App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Uncut Sans";
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    visibility: hidden;
}

.banner_{
    max-width: 100%;
    width: 100%;
    height: 200px;
    top: 30px;
    position: fixed;
    z-index: 99;
    align-items: baseline;
    display: flex;
    padding: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    box-sizing: inherit;
    font-size: 18px;
}

.banner_info {
    max-width: 100%;
    width: 100%;
    height: 200px;
    top:30px;
    position: fixed;
    z-index: 99;
    align-items: baseline;
    display: flex;
    padding: 3rem;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    box-sizing: inherit;
    font-size: 18px;
}

.label{
    color: grey;
    align-self: end;
    padding-bottom: 4px
}

.divider{
    width: 150px;
}

.section {
    color: "white";
    width: "inherit";
    position: relative;
    bottom: 7.5px;
    font-weight: "lighter";
    display: "flex";
}

.greetings {
    width: inherit;
    height: 600px;
    box-sizing: inherit;
    position: absolute;
    top: 866px;
    white-space: "pre-line";
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(black 33%, grey);
    color: white;

}

.ticker {
    position: absolute;
    width: inherit;
    height: 30px;
    font-size: medium;
    bottom: 0;
    color: black;
}

.link_ {
    color: white;
    text-decoration: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.link_info {
    color: black;
    text-decoration: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.link:hover {
    color: lightskyblue;
    text-decoration: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.lista {
    display: flex;
    list-style: none;
}

.info {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: white;
}

.logo_{
    height: 4.5rem;
    width: 13rem;
    background-color: white;
    -webkit-mask: url(DATA1.svg) no-repeat center;
    mask: url(DATA1.svg) no-repeat center;
    background-position: center;
    /*filter:invert();*/
}

.logo_info {
    height: 4.5rem;
    width: 13rem;
    background-color: black;
    -webkit-mask: url(DATA1.svg) no-repeat center;
    mask: url(DATA1.svg) no-repeat center;
    background-position: center;
    /*filter:invert();*/
}

.helper_row {
    position: absolute;
    top: 15%;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    color: white;
}

.helper {
    /*left:50%;*/
    display: block;
}

.credits{
    background-color: white;
    color:black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

canvas {
    width: 100%;
    height: 10vh;
    display: block;
    box-sizing: inherit;
}

.flex-container{
    display: flex;
}
